@model IEnumerable<WebApiForEmpresa.Models.ContatoViewModel>

@{
    ViewData["Title"] = "Details";
}

<h3>Details, em construção</h3>
    <h2>
        <a asp-controller="Contato" asp-action="Index">Contatos</a>
    </h2>