@model IEnumerable<WebApiForEmpresa.Models.ContatoViewModel>

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>
    <h2>
        <a asp-controller="Contato" asp-action="Index">Contatos</a>
    </h2>
